<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- review.ejs -->

    <%- include('navBar') %>


        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Comment</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% reviews.forEach((review)=> { %>
                            <tr>
                                <td>
                                    <%= review.user.fullName %>
                                </td>
                                <td>
                                    <%= review.comment %>
                                </td>
                                <td>
                                    <%= review.rating %>
                                </td>
                                <td> <a href="/admin/review/delete/<%= review._id %>" class="btn btn-danger"
                                        onclick="return confirm('Are you sure you want to delete this room?')">Delete</a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>

        <br>
       
</body>

</html>